---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="To be updated..."
	pubDate={new Date('Dec 29 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		To be updated...
	</p>

</Layout>
